.header-sizing-container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.header-contents {
  max-width: 960px;
  position: relative;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.header-contents .header-wrapper {
  position: absolute;
  margin: 1rem 0 0 1rem;
  align-self: flex-start;
}

.header-contents h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 3rem;
  left: 0;
  margin: 0;
}

.header-contents img {
  height: 100%;
}

.next-section-button {
  position: absolute;
  bottom: 50px;
  height: 50px;
  cursor: pointer;
  /* Resets */
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.next-section-button img {
  height: 100%;
}