.header-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  align-items: center;
  background-color: white;
  transition: all 0.4s ease;
  font-size: 36px;
  z-index: 10;
  left: 0;
}

.header-container.small{
  font-size: 20px;
  margin-bottom: 10px;
  height: initial;
}

.header-titles h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  margin: 0;
}